li{
    list-style: none;
    text-decoration: none;
}
nav.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    height: 10vh;
    margin: 0;
    width: auto;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(101, 197, 241);
    box-shadow: 50px 20px 50px #dcdcdc82;
}
a {
    text-decoration: none;
    /* color: black; */
    color:white;
    text-transform: uppercase;
}
#loginsingup{
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    /* background-color: #ff0000; */
    background-color: rgb(14, 124, 227);
}
ul.menu-link-itms {
    display: flex;
    margin-bottom: 0;
    list-style: none;
}
li.menu-item {
    margin: 2rem;
}
.rightnav-item{
    margin: .5rem;
}
ul.social_media-dexktop {
    list-style: none;
    margin-bottom: 0;
    display: flex;
}
li.social-itme {
    margin: 1rem;
}
.rightnav{
    display: flex;
    align-items: end;
    justify-content: center;
}
a.active {
    font-weight: 500;
    border-bottom: 3px solid rgb(256,256,256);
}
h2.logo-color {
    /* background: -webkit-linear-gradient(#000, #ff0010,#00f); */
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    background-clip:unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2.logo-color span{
    font-weight: bold;
    font-size: 30px;
}
